<div class="project_likes project_likes_list likes__pill" ng-class="{liked: project.likeStatus === 'LIKE'}" ng-click="toggleLike()" ng-if="view === 'list'">
    <i class="project_likes_list_status fi-heart"></i>
    <span class="project_likes_list_count">{{showLikeCount()}}</span>
</div>

<div class="project_likes project_likes_detail likes__box" ng-class="{liked: project.likeStatus === 'LIKE'}" ng-click="toggleLike()" ng-if="view === 'detail'">
    <div class="project-status__likes">
        <span class="project_likes_detail_count">{{showLikeCount()}}</span>
        <i class="project_likes_detail_status fi-heart"></i>
    </div>
    <span class="pm-text-2nd">Likes</span>
</div>
