Hallo #{#recipientName},

zu Deinem Projekt "#{#projectName}" wurde ein Kommentar von #{#commentingUser} hinzugefügt:

"#{#commentExcerpt}"

Zu Deinem Projekt:

#{#link}

Mit freundlichen Grüßen
Dein CrowdSource Team