Hallo #{#recipientName},

Das folgende Projekt wurde von #{#modifierName} editiert.
Weitere Informationen hinsichtlich des Prozesses kannst Du der FAQ entnehmen.

Zum Projekt:

#{#link}

Mit freundlichen Grüßen
Dein CrowdSource Team