<form ng-if="uploadEnabled" name="attachments_form" id="attachments_form" novalidate>

    <label form-group="attachment">
        <span form-label-valid="attachment">
            Füge hier Dateien hinzu, um Deine Projektidee noch genauer zu beschreiben. Du kannst Bilder und PDF-Dokumente bis 20MB hochladen.
        </span>

        <span form-label-invalid="attachment" ng-messages="attachments_form.attachment.$error">
            <span ng-message="maxSize">Die Datei ist leider zu groß. Du kannst maximal 20MB hochladen.</span>
        </span>
    </label>

    <input type="file" name="attachment"
           ng-show="!uploads.currentAttachment"
           ng-model="uploads.currentAttachment"
           ngf-select
           ngf-change="clearErrors(); uploads.lastUploadSuccessful = false;"
           analytics-category="Projects" analytics-event="AttachmentUploaded"
           accept="image/*, .pdf, text/plain" ngf-max-size="20MB" required>

    <div class="file-info margin-bottom-small" ng-show="attachments_form.attachment.$valid">
        <div><strong>{{uploads.currentAttachment.name}}</strong> - {{uploads.currentAttachment.size | bytesAsMegabytes }}MB</div>
        <img ngf-thumbnail="uploads.currentAttachment" class="attachment-thumb">
    </div>

    <div class="cs-progress" ng-show="uploads.currentAttachment.progress >= 0 && uploads.currentAttachment.progress < 100">
        <div class="cs-progress__meter" style="width:{{uploads.currentAttachment.progress}}%" ng-bind="uploads.currentAttachment.progress + '%'"></div>
    </div>

    <div class="upload-messages">
        <span class="upload-messages__success" ng-show="uploads.lastUploadSuccessful">Upload erfolgreich</span>

        <!-- Remote Error Message output -->
        <div ng-if="generalErrors" class="upload-messages__error" ng-messages="generalErrors">
            <span ng-message="remote_unknown_error">
                Upload aus unbekannten Gründen leider fehlgeschlagen.
            </span>
            <span ng-message="remote_file_size_exceeded">
                Die Datei wurde aufgrund ihrer Größe abgelehnt.
            </span>
            <span ng-message="remote_master_data_change_not_allowed">
                Dateianhänge können nur Außerhalb einer Finanzierungsrunde, und wenn das Projekt nicht voll finanziert ist, hinzugefügt werden.
            </span>
            <span ng-message="remote_unknown">Es ist ein Fehler aufgetreten. Bitte versuche es erneut.</span>
            <span ng-message="remote_file_must_not_be_empty">Die Datei war leer und kann daher nicht gespeichert werden.</span>
            <span ng-message="remote_file_type_not_alloed"Der Dateityp wird leider nicht unterstützt.</span>
        </div>
    </div>

    <div>
        <button ng-show="uploads.currentAttachment"
                class="button tiny alert margin-top unselect-file"
                ng-click="uploads.currentAttachment = null; clearErrors(); ">
            Entfernen
        </button>
        <button ng-disabled="!attachments_form.$valid"
                class="button tiny margin-top upload"
                ng-click="uploadAttachment(uploads.currentAttachment)">
            Hochladen
        </button>
    </div>

</form>

<div ng-if="project.attachments.length" class="attachments">
    <h4>Anhänge</h4>
    <table class="attachments__list">
        <thead>
        <tr>
            <th>Dateiname</th>
            <th>Größe</th>
            <th>Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in project.attachments">
            <td><strong><a href="{{item.linkToFile}}">{{item.name}}</a> </strong></td>
            <td>{{ item.size | bytesAsMegabytes }} MB</td>
            <td>
                <ul class="button-group">
                    <li>
                        <a href="" class="tiny ultra-tiny ultra-tiny--alert button delete-attachment" ng-show="uploadEnabled" ng-click="">
                            Löschen
                        </a>
                        <a href="" class="tiny ultra-tiny button secondary copy-attachment-link" ngclipboard data-clipboard-text="{{ absoluteFileUrl(item) }}">
                            Link Kopieren
                        </a>
                        <a href="" class="tiny ultra-tiny button secondary copy-attachment-md-link" ng-show="item.type.indexOf('image/') > -1 && uploadEnabled" ngclipboard data-clipboard-text="{{ markdownImageInclude(item) }}">
                            MD Link Kopieren
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
